body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}
html, body {
    min-width: 400px;
}
body, input, button {
    font-size: 14px;
    font-family: arial,sans-serif;
    color: #222;
}
body {
    background: #fff;
}


  /*div nav bar*/
  .nav-center {
    display: flex;
    align-items: center;
    padding: 6px;
}
.nav-height {
    height: 60px;
}
.nav-border {
    flex-shrink: 0;
    box-sizing: border-box;
}
/*  anchor tags inside nav div events*/

a.navItem:first-of-type {
    margin-left: 15px;
}
a.navItem {
    display: inline-block;
    padding: 5px;
    margin: 0 5px;
        margin-left: 5px;
    color: #222;
}
a {
    color: #1a0dab;
    text-decoration: none;
}
/* navbar-bar layout second div*/
.nav-layout {
    display: inline-block;
    flex-grow: 1;
}

/* */

.gb_pa.gb_Zd {
    min-width: initial;
    min-width: auto;
}
.gb_Va:not(.gb_Ed) {
    font: 13px/27px Roboto,RobotoDraft,Arial,sans-serif;
    z-index: 986;
}
.gb_Zd {
    height: 48px;
}
.gb_pa {
    color: black;
    min-width: 320px;
    position: relative;
    -moz-transition: box-shadow 250ms;
    transition: box-shadow 250ms;
}
/* div for flex container */
.gb_Zd .gb_Wd {
    float: right;
    padding-left: 32px;
}
.gb_Wd {
    box-sizing: border-box;
    height: 48px;
    line-height: normal;
    padding: 0 4px;
        padding-left: 4px;
    padding-left: 30px;
    flex: 0 0 auto;
    justify-content: flex-end;
}
.gb_Id {
    height: 48px;
    vertical-align: middle;
    white-space: nowrap;
    -moz-box-align: center;
    align-items: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -moz-user-select: -moz-none;
}

/*    */

.gb_8d {
    font-family: arial,sans-serif;
    line-height: normal;
    padding-right: 15px;
}
.gb_Wd {
    line-height: normal;
}
.gb_Id {
    white-space: nowrap;
}
.gb_Va:not(.gb_Ed) {
    font: 13px/27px Roboto,RobotoDraft,Arial,sans-serif;
        line-height: 27px;
        font-family: Roboto, RobotoDraft, Arial, sans-serif;
}
.gb_pa {
    color: black;
}
/* gmail div*/

/* gmail a*/

/*images div*/

/*images a*/

/* inline right nav box gridbox event*/
.gb_bd:first-child, #gbsfw:first-child + .gb_bd {
    padding-left: 4px;
}
.gb_bd {
    padding: 4px;
        padding-left: 4px;
}
.gb_bd {
    display: inline-block;
    vertical-align: middle;
}

/* svg button*/
.gb_pa svg, .gb_Ac svg, .gb_Wc .gb_5d, .gb_Mc .gb_5d {
    color: #5f6368;
    opacity: 1;
}
.gb_pa svg {
    fill: currentColor;
}
#gb#gb a.gb_C {
    color: #000;
    cursor: pointer;
}
.gb_pa a, .gb_Ac a {
    color: inherit;
}
.gb_C {
    cursor: pointer;
}
.gb_C {
    color: #000;
    cursor: pointer;
}
a {
    color: #1a0dab;
}
/* sign in*/

#gb a.gb_3.gb_3.gb_9d, #gb a.gb_2.gb_2.gb_9d {
    cursor: pointer;
}
#gb a.gb_3.gb_3 {
    color: #fff;
}
#gb a.gb_3.gb_3 {
    cursor: default;
    text-decoration: none;
}
.gb_pa.gb_Zd .gb_9d {
    margin-left: 8px;
}
.gb_9d:not(.gb_2) {
    background: #1a73e8;
    border: 1px solid transparent;
}
.gb_pa a, .gb_Ac a {
    color: inherit;
}
.gb_9d {
    font-family: Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.25px;
    line-height: 16px;
    margin-left: 10px;
    margin-right: 8px;
    min-width: 96px;
    padding: 9px 23px;
    text-align: center;
    vertical-align: middle;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.gb_3 {
    border: 1px solid #4285f4;
    font-weight: bold;
    outline: none;
    background: #4285f4;
    background: -moz-linear-gradient(top,#4387fd,#4683ea);
    background: linear-gradient(top,#4387fd,#4683ea);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4387fd,endColorstr=#4683ea,GradientType=0);
}
.gb_2, #gb a.gb_2.gb_2, .gb_3 {
    color: #666;
    cursor: default;
    text-decoration: none;
}
.gb_3 {
    background: #f8f8f8;
}
.gb_Z, .gb_0, .gb_2, .gb_3 {
    display: inline-block;
    line-height: 28px;
    padding: 0 12px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
a {
    color: #1a0dab;
    text-decoration: none;
}
